@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style type="text/css">
        table {
            background: white; /* Цвет фона таблицы */
            color: black; /* Цвет текста */
            table-layout: fixed;
            width: 100%;
        }

        td, th {
            padding: 5px; /* Поля вокруг текста */
            width: 150px;
            height: auto;
        }
    </style>
</head>
@Scripts.Render("~/Scripts/jquery-3.3.1.js")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
<body>

    <div id="orderid">
        <p><a href="/Orders/Insert">Добавить заказ</a></p>
        <div style="position:fixed; right:0;">
            @using (Ajax.BeginForm("AjaxFind", "Home", new AjaxOptions { UpdateTargetId = "orderid" }))
            {
                <p>Дата заказа с</p>
                <input type="date" name="dateTimeStart" value="Test" />
                <p>Дата заказа по</p>
                <input type="date" name="dateTimeEnd" />
                <p></p>
                <input type="submit" value="Найти" />
            }
            <p id="orderid"></p>
        </div>
        <table>

            @if (ViewBag.orderList != null)
            {
                <tr>
                    <td><p>Id </p></td>
                    <td><p>Сумма</p></td>
                    <td><p>Дата</p></td>
                    <td></td>
                </tr>
                foreach (var order in ViewBag.orderList)
                {

                    <tr id="tableRecord">
                        <td><p>@order.Id </p></td>
                        <td><p>@order.Sum </p></td>
                        <td><p>@order.Date </p></td>
                        <td><p><a href="/Orders/Change?id=@order.Id">Изменить</a></p></td>
                        <td>
                            <p>
                                @Ajax.ActionLink("Удалить", "AjaxDelete", "Home", new { data = order.Id }, new AjaxOptions { UpdateTargetId = "orderid" })
                            <p id="container"></p>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>

</body>
</html>